html{
    scroll-behavior: smooth;
}
body{
    background-color: #efefef;
    margin: 0 0 0 0;
    font-family: 'Lekton', sans-serif;
    color: #ff3b3f;
    font-weight: bold;
}

/* header */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #030724;
    width: 100%;
    height: 7vh;
}
.menuname > a{
    text-decoration: none;
    color: #ff3b3f;
    padding-right: 40vw;
    font-size: 30px;
    margin-left: 5%;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.wrapper a{
    text-decoration: none;
    color: #ff3b3f;
}
.wrapper ul{
    list-style: none;
    margin-top: 2%;
}
.wrapper ul li{
    background: #030724;
    width: 10vw;
    height: 50px;
    line-height: 60px;
    text-align: center;
    float: left;
    font-size: 20px;  
}
.wrapper ul li a:hover{
    color: #fd9798;
    font-weight: bolder;
}
.wrapper ul ul{
    display: none;
}
.wrapper ul li:hover > ul{
    display: block;
    margin-left: -40px;
}

/* logo area */
.home{
    height: 84vh;
    padding-top: 25vh;
}
.photo_container{
    display: flex;
    justify-content: center;
}
.photo_container img{
padding-right: 5vw;
}
.home h1{
    margin-top: 36.4vh;
}


/* product List */
.productList{
    font-size: 20px;
    padding: 0 10vw 10vw 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
figure a img{
    width: 80%;
    height: 80%;
    padding: 10px;
}
figcaption{
    display: flex;
    justify-content: center;
    text-align: center;
}


/* footer */
.footer{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 25px;
    color: #ff3b3f;
}

.links a{
    color: #ff3b3f;
    padding: 15px;
}

/* product description page */

.container{
    height: 84vh;
    padding-top: 16vh;
    display: flex;
}
.productInfoContainer{
    flex-direction: column;
    padding-left: 25vw;
    padding-right: 10vw;
}
.productInfoContainer img{
    padding-bottom: 2vw;
}
.checkoutForm{
    flex-direction: column;

}
.purchaseForm input{
    width: 10vw;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    margin-bottom: 1em;
}
.purchaseForm button{
    width: 11.2vw;
    padding: 10px;
    background-color: #030724;
    color: #efefef;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
}


.collapsible {
    width: 500px;
    background-color: white;
    color: #efefef;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
  }
  
.active, .collapsible, .purchaseForm button, .checkout button:hover {
    background-color: #030724;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* checkout*/

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}
.checkout{
    min-height: 84vh;
    padding-top: 16vh;
}

.checkout input{
    width: 10vw;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    margin-bottom: 1em;
}
.checkout button{
    width: 11.2vw;
    padding: 10px;
    background-color: #030724;
    color: #efefef;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
}
