<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TUTAJ ZACZYNAMY</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet">

</head>

<body>
    <div class="menu">
        <div class="menuname">Paperfy</div>
        <div class="wrapper">
            <ul>
                <li><a href="#contact">Contact </a></li>
                <li><a href="#interests">Gallery </a></li>
                <li><a href="#interests">About Us </a></li>
            </ul>
        </div>
    </div>

    <div class="info" id="contact">
        <div class="photo_container">
            <img src="./img/toiletPaper.jpg" alt="Portrait">
        </div>

        <div class="links">
            <a href="https://www.facebook.com/profile.php?id=100008604544517"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/szumiecmilosz/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/SzumiecM"><i class="fab fa-github"></i></a>
        </div>
    </div>
    <div class="products">
        <img src="./img/toiletPaper.jpg" alt="">
        <img src="./img/toiletPaper.jpg" alt="">
        <img src="./img/toiletPaper.jpg" alt="">
        <img src="./img/toiletPaper.jpg" alt="">
    </div>


</body>

</html>