{% extends 'wrapper.html' %}
{% block content %}

{% load static %}
{% static "" as baseUrl %}

<div class="container">
    <div class="productInfoContainer">
        <img src="{{ baseUrl }}img/{{ product.name }}.png" alt="Portrait">
        <div class="productDescription">
            <button type="button" class="collapsible">Product Description</button>
            <div class="content">
                {{ product.description }}
            </div> <br>
            <button type="button" class="collapsible">Composition and Conservation</button>
            <div class="content">
                {{ product.composition }}
            </div>
        </div>
    </div>
    <div class="checkoutForm">
        <div class="purchaseForm">
            <div class="name">
                <h1>{{ product.name }}</h1>
            </div>
            <form method="POST" action=" ">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="number" placeholder="0" name="product_amount" required>
                <button type="submit" id="add_to_cart_button">Add to cart</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}