{% extends 'wrapper.html' %}
{% block content %}

    {% load static %}
    {% static "" as baseUrl %}

    <div class="center">
        <div class="container">
            <div class="img">
                <img src="{{ baseUrl }}img/{{ product.name }}.png" alt="Portrait">
            </div>
            <div class="productDescription">
                <button type="button" class="collapsible">Product Description</button>
                <div class="content">
                    {{ product.description }}
                </div>
                <button type="button" class="collapsible">Composition and Conservation</button>
                <div class="content">
                    {{ product.composition }}
                </div>
                <button type="button" class="collapsible">Delivery and Returns</button>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quos odit ullam officiis, quasi
                    mollitia non eligendi quisquam laboriosam hic doloribus illum vero magni, laudantium expedita
                    reiciendis
                    perspiciatis nihil cupiditate!
                </div>
            </div>
            <div class="purchaseForm">
                <form method="POST" action=" ">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="number" placeholder="0" name="product_amount" required>
                    <button type="submit" id="add_to_cart_button">Add to cart</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}