{% extends 'wrapper.html' %}

{% block content %}

    {% load static %}
    {% static "" as baseUrl %}
{% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}
    <div class="home" id="home">
        <div class="photo_container">
            <img src="{% static 'img/logo.png' %}" alt="Portrait">
            <h1>Make it yourself</h1>
        </div>
    </div>

    <div class="productList" id="gallery">
        {% for element in toilet_papers %}

            <figure>
                <a href="/product/{{ element.id }}"><img src="{{ baseUrl }}img/{{ element.name }}.png" alt=""></a>
                <figcaption>{{ element.name }}</figcaption>
            </figure>

        {% endfor %}
    </div>

{% endblock %}