<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Paperfy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet">

</head>

<body>

    <div class="menu">
        <div class="menuname"><a href="/">Paperfy </a></div>
        <div class="wrapper">
            <ul>
                <li><a href="/checkout">Cart </a></li>
                <li><a href="#about">About Us </a></li>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="footer" id="about">
        <h3>Website created by</h3>
        <div class="links">
            Miłosz Szumiec - Student of Information and Communication Technology
            <a href="https://www.linkedin.com/in/szumiecmilosz/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/SzumiecM"><i class="fab fa-github"></i></a>
        </div>
        <div class="links">
            Małgorzata Stępień - Student of Programming of mobile and web applications
            <a href="https://www.linkedin.com/in/małgorzata-stępień-a778a6209/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/mrsmrowka"><i class="fab fa-github"></i></a>
        </div>
        <div class="links">

        </div>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>